<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>健康卫士.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B258F3DB1D40703000739326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B258F3EF1D40703000739326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B258F3FA1D40703000739326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
